[2019-03-15 23:25] lukef opened #22 "Backgrounding the app via the back button causes a crash"
[code]

There is a use case where you can cause a crash due to the `ReaderSDK` trying to re-initialize an already initialized `ReaderSDK`.

If you background the app using the back button it will destroy the `MainActivity` and when you resume it will call `onCreate` again (containing the `ReaderSDK.initialize` call and you will get a crash.

To reproduce:

1. Start your app
2. Press the back butto

[2019-03-22 16:59] #22 closed

[2019-09-25 16:52] kevin-haynie opened #38 "Need to minimize footprint"
OK, I got your example compiled and was able to make a $1.00 cash charge - which is very cool.  BUT, your simple example app is 130MB big in debug mode for iOS and 103MB big in release mode.

Looks like you have a 56MB! 'SquareReaderSDK' file in your framework which gets linked in!  OUCH.

Although I really need this functionality for my Flutter POS app, I can't afford to bloat my app this much.

[2019-09-25 21:25] StephenJosey commented on #38
Unfortunately you're right on both of your inquiries. ReaderSDK is a bit bloated, and there's no real way to trim it down for your release. There's definitely been discussions around this before, but I do not have an ETA on when or if it'll be resolved.

To address your second question about the POS API: there is not a Flutter plugin for it, and again I'm not able to provide an ETA on when or if o

[2019-12-21 23:41] ryan-berger opened #42 "Production builds break with Flutter 1.12"
### Describe the issue

Flutter 1.12 just added the breaking change of adding `android.enableR8=true` which obfuscates libraries. This causes the Square Reader SDK to stop functioning.

Each time you open the app, it immediately crashes and logcat outputs this error:

`Unable to create application com.example.test.MainApplication: java.lang.RuntimeException: java.lang.ClassNotFoundException: Didn'

[2020-01-03 18:23] okenshields commented on #42
Hi Ryan,
Currently Reader SDK does not work with Proguard (or R8). It's mentioned in the **Prerequisites and assumptions** section here https://developer.squareup.com/docs/reader-sdk/build-on-android: `You are not using Proguard for code optimization. Compressing the Reader SDK binary removes critical bytecode elements and results in runtime errors.`
Can you try disable code shrinking/obfuscation?

[2020-01-03 19:24] ryan-berger commented on #42
@okenshields Disabling r8 still breaks it as flutter must have added another breaking change to use proguard if r8 gets disabled.

If you use the following `buildTypes` config in your `app/build.gradle`
[code]

[2020-01-07 00:05] okenshields commented on #42
@ryan-berger , feel free to send a PR for this. Thanks!

[2020-02-25 01:04] CurtHubb opened #43 "Change APP ID at run time"
We're creating a flutter app that we'd like to integrate square for customers to use, unfortunately it appears you must hard code the App ID and Password in the gradle.properties currently. Is it possible to adjust the plugin so the App ID and Password can be updated later?

[2020-02-25 17:04] StephenJosey commented on #43
What exactly are you trying to do (what do you mean by integrate for customers to use)? Ie, even though you have the app id and password, you still need to authorize the application which requires a [mobile authorization code](https://developer.squareup.com/docs/mobile-authz/what-it-does). This code can be generated on a per-Square-merchant basis via [OAuth](https://developer.squareup.com/docs/oau

[2020-02-25 18:35] CurtHubb commented on #43
Steven,

Thanks for the response. Sorry I didn't explain properly but I think you've got it, we want many Square merchants to be able to use our application. I guess my confusion is stemming from the directions on getting started that require you to place the App Id and Password in the gradle.properties on Android and pass it in when downloading the SDK for iOS.

[2020-02-25 18:52] StephenJosey commented on #43
Hi @CurtHubb correct. That basically ties the application to your Square application. However, the authentication that can be called dynamically (https://github.com/square/reader-sdk-flutter-plugin/blob/master/doc/reference.md#authorize) will be what Square account the transactions will be tied to. So, via OAuth, when a merchant downloads your app, they would be granted an access token, and your a

[2020-03-09 01:21] #43 closed

[2020-05-18 13:21] tonydiaz opened #45 "Lost connection to device - when authorizing Reader SDK"
### Describe the issue
I'm seeing the `reader-sdk-flutter-plugin/example` project is losing connection to physical iPhone device as I authorize the Read SDK.

I'm running an iPhone 8 with iOS 13.3.1.

There isn't a good trace on the error just loses the connection at the end.

  Error log details:
[code]

### To Reproduce
  Steps to reproduce the issue.
  1. Start project
  2. Authorize the Microp

[2020-05-18 20:39] StephenJosey commented on #45
I believe this is related to the In-App Payments SDK same issue: https://github.com/square/in-app-payments-flutter-plugin/issues/82 which is basically due to breaking changes from Flutter 1.12 >. I believe you need to use an older version of Flutter for this to work.

[2020-05-19 13:10] tonydiaz commented on #45
Downgrading the flutter version is tough since that cascades to downgrading other packages that don't work on < 1.12 version of flutter.

Is there any other workaround to test out the functionality?

Looks like from the other issues there is no ETA on developing a fix?

[2020-05-19 20:42] StephenJosey commented on #45
Unfortunately I'm not aware of a workaround, nor do I have an ETA on updating this.

[2020-05-25 01:48] tonydiaz commented on #45
I'm seeing the issue on Flutter version 1.11.0 as well using the `example` project in this repo using a physical device

Log details:
[code]

The application loads. I tried scanning the QR for the Mobile Auth Code and entering it manually the app crashes for both ways.  After the crash the app only loads the image below and crashes again.

![image](https://user-images.githubusercontent.com/7145340

[2020-05-26 13:16] tonydiaz commented on #45
@StephenJosey @okenshields  Is there a way I can trace the problem better? Hard to figure out the root cause when the error is only `Lost connection to device`

[2020-05-29 01:19] sseaman commented on #38
Closing as there is no plan to reduce the size of the ReaderSDK at this time.

Also, as stated previously, no POS flutter planned at this time.  However, we'll add it to the backlog to see if we can get to it someday.

[2020-05-29 01:19] #38 closed

[2020-06-02 21:19] StephenJosey commented on #45
Apologies for the delay here, I will escalate to the team and follow up once I have more information.

[2020-06-05 02:12] tonydiaz opened #46 "Android setup documentation update"
### Describe the change you would like to see
I had a hard time getting Andriod to work using the reader SDK. I compared my app with the `reader-sdk-flutter-plugin/example` app to see why it worked and mine didn't.

After too many hours of debugging, I found the issue is in [Step 4](https://github.com/square/reader-sdk-flutter-plugin/blob/master/doc/get-started.md#step-4-configure-gradle-for-reade

[2020-06-13 01:55] tonydiaz commented on #45
After some updates, I'm not no longer seeing this problem in my application. I'm not sure of any significant change I made that resolved it but I no longer have the disconnection.

I did implement an endpoint for the [Mobile auth](https://github.com/square/reader-sdk-flutter-plugin/blob/master/doc/get-started.md#step-8-implement-mobile-authorization)

I ran the example app again and used the camer

[2020-07-06 18:59] mohsin-sq commented on #42
I have added the documentation for this issue. closing!

[2020-07-06 18:59] #42 closed

[2020-07-08 17:20] mohsin-sq commented on #45
Hi @tonydiaz,

Do you know if this happens when running on a physical android device as well? We recently did upgrade our plugins to Flutter 1.12+. Unfortunately I don't have a physical iPhone accessible to test it out.

[2020-07-08 18:32] tonydiaz commented on #45
@mohsin-sq This only happened to me on a physical device. I only tried it on an iPhone.

I never had an issue with the android and iOS emulators.

My application now works but running the example project in the repo on my physical device still loses connection.

[2020-07-10 17:57] #46 closed

[2020-07-15 17:20] mohsin-sq commented on #45
This ended up just being an issue with the example application. Some information in the info.plist was missing that is required for running on a physical device. After it was added, the application worked.  Thanks for bringing this to our attention @tonydiaz ! Closing the issue, please feel free to reopen if you have any more questions regarding this.

[2021-03-07 01:13] dirjud opened #56 "Module 'SquareReaderSDK' not found"
I am trying to compile the example, and I get a Parse Issue: Module 'SquareReaderSDK' not found

Error Log:
    /Users/lane/Documents/reader-sdk-flutter-plugin/ios/Classes/Converters/SQRDT
    enderCashDetails+FlutterReaderSDKAdditions.m:17:
    /Users/lane/Documents/reader-sdk-flutter-plugin/ios/Classes/Converters/SQRDT
    enderCashDetails+FlutterReaderSDKAdditions.h:17:9: fatal error: module

[2021-03-08 22:51] StephenJosey commented on #56
For the sample (https://github.com/square/reader-sdk-flutter-plugin/blob/master/example/README.md), did you install the SDK per the instructions in the `ios` directory?

[code]

[2021-03-08 23:29] dirjud commented on #56
Yes, I have run the following commands:
[code]
I got the following result:

I then run
[code]
and I get the following:

mode...

[2021-03-08 23:44] dirjud commented on #56
I wonder if this is a problem with the Podfile. When I clone a fresh copy and run
```flutter run```
I get the following error:

So I run 'rm Podfile' and 'flutter run' again and get this error:

So then I edit the Podfile to say:

`platform :ios, '11.1'`

I run 'flutter clean' and 'flutter run' again and get the same exact failure.  If I run `git diff ios/Podfile` the files are *very* different.

[2021-03-08 23:47] StephenJosey commented on #56
Hm, could you try doing these steps as well: https://developer.squareup.com/docs/reader-sdk/build-on-ios#step-3-configure-your-ios-project-for-reader-sdk (mainly the build phase step)? Wondering if this was intentionally left out of these flutter docs.

[2021-03-09 03:08] dirjud commented on #56
Here is what the build phases scripts said prior to my edit:
[code]

[2021-03-17 04:18] dirjud opened #57 "Android Release Build Crashes on Start"
### Describe the issue

I have the fluter square reader SDK working perfectly on Android when compiled in debug mode. Compiling in release mode, however, causes the app to crash immediately on startup with the following errors:
[code]
I have the added the multiDex stuff from the instructions to my build.gradle file.

I have tried a lot of suggestions from various Stack Overflow pages and nothing h

[2021-03-18 20:20] StephenJosey commented on #57
It sounds like your release build made be stripping classes unnecessarily. For example, we require that you do not use Proguard due to it removing critical elements (and this is documented). Can you confirm you're not using Proguard or something similar that may be stripping code by mistake?

[2021-03-18 23:33] dirjud commented on #57
Hmm. I am not knowingly using proguard, but I added 'useProguard false' to the buildTypes/release section in the build.gradle and it still crashes with the same error.

So then I cloned a fresh copy of the example project, added my app id to the gradle.properties, and ran
`flutter run --release`
That failed with this error:
[code]
So I put the 'useProguard false' in  the  build.gradle and it build

[2021-03-22 17:48] StephenJosey commented on #57
Thanks, let me share this with the SDK team and see what thoughts they have. I'll follow up once I have more information.

[2021-03-31 21:09] StephenJosey commented on #56
Apologies for the delay here, I am escalating to our SDK team for further investigation. Please let me know if you were able to figure this out though.

[2021-03-31 21:15] StephenJosey commented on #57
Apologies for the delay here. The team isn't really sure what else may be going on. All it seems is that something is stripping the class when going into release mode. Can you check your APK and ensure there's no other `AppBootstrapFactory` package?

[2021-04-01 02:33] dirjud commented on #56
It's still an issue for me.

[2021-04-01 02:42] dirjud commented on #57
I have no idea what AppBootstrapFactory is, so I googled it. In googling it, the top result was a link to this issue:
https://github.com/square/reader-sdk-flutter-plugin/issues/42
Based on that issue, I added  'shrinkResources false', so now my buildtypes looks like this in my build.gradle:
[code]
and IT WORKS!

[2021-04-01 02:46] dirjud commented on #57
From what I understand of this issue, it seems this is a problem that resulted from the release of flutter 1.12, which was over a year ago. I'm on the current release, which is flutter 1.20. Should these be added to the example project to bring it up to date?

[2021-04-01 13:11] #57 closed

[2021-04-02 16:23] djmuhlestein commented on #56
Issue for me as well.  Same setup w/ latest OSX/Xcode.  Doesn't look to me like the script is being run although I'm not sure if that's what's causing the build error.

Error says "Module SquareReaderSDK not found" at SQRDTenderCardDetails+FlutterReaderSDKAdditions.h line 17

[2021-04-11 15:05] dirjud commented on #56
building against the branch for pull request 59 works.

[2021-04-11 15:06] dirjud opened #60 "Null Safety"
Is Null Safety support in the plans at all for this plugin?

[2021-04-13 00:24] StephenJosey commented on #60
Currently it's not supported, but there are plans to support it eventually. Unfortunately I do not have an ETA on when this will be done, but I'll leave this open for now.

[2021-04-20 22:57] #56 closed

[2021-04-24 00:58] dirjud opened #64 "Reinstallation Required Problem"
The reader-sdk-flutter-plugin fails 100% of the time with a "Reinstallation Required" when trying to connect to a bluetooth square reader on a Samsung Galaxy Tab A (2016) SM-T280 running the latest (Android 5.1.1). It works fine using other android devices (like the Pixel 4XL). The Square App from the Play Store also connects just fine on this tablet. Our customer has 6 identical tablets that are

[2021-04-26 15:20] StephenJosey commented on #64
Thanks for sharing! What is your Square application id and what is the location id that is failing to connect the reader? I can take a look at our logs and get this escalated appropriately.

[2021-04-26 15:30] dirjud commented on #64
App Id: sq0idp-g7DrXLCxUqFCUPMwKjwiuw
Location: 3AD2YT2JKKXW9

[2021-04-27 03:19] dirjud commented on #64
Our customer has a big show starting Thursday with these tablets. Can you escalate before then.

[2021-04-27 20:12] StephenJosey commented on #64
The team hasn't found anything obvious that would be causing this issue. Do you have any other devices that are using the armv7 that you could test with? It might be chip specific rather than device specific. It sounds like something is affecting the armv7 build specifically that is preventing the reader from working, though, to be clear.

[2021-04-27 20:20] dirjud commented on #64
Remember that it pairs/connects just fine with the Square app. The problem is just our custom app. I do not have any other armv7 devices available to test with.

[2021-04-28 18:10] dirjud commented on #64
The show requiring these devices starts tomorrow and could really use some support to get these working before then.

[2021-04-28 18:12] dirjud commented on #64
As I have said, the hardware works and can pair/connect through the square app, so this has got to be a software issue.

[2021-04-28 19:01] StephenJosey commented on #64
I relayed this to the team, and they've said that it seems like something in your build setup is probably modifying the armv7 version of the native library that readersdk ships with. It's possible that it's some binary stripping setting, but we don't really have a way of knowing. We have a number of other developers using armv7 devices successfully so it's not something specific to armv7 in genera

[2021-06-10 08:13] #60 closed

[2021-08-22 14:14] nneuberger1 opened #69 "Issue using both square payments sdk and reader sdk together"
### Describe your question

I'm attempting to integrate the square_reader_sdk into my flutter application but having issues with pulling it in. I'm using the 3.0.0 version of the sdk because I'm also using the square_in_app_payments in the same project.

Here's my pubspec.yaml dependencies:

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.0-nullsafety.0
  uuid: 3.0.4
  intl: ^0.17.0
  sock

[2021-08-22 14:21] nneuberger1 commented on #69
Stumbled on this bad boy and still haven't found any solutions to this dreaded problem.

[ios][release] GeneratedPluginRegistrant.m Module not found #43986
https://github.com/flutter/flutter/issues/43986#issuecomment-605987016

[2021-10-27 00:32] emmett-deen opened #75 "Kotlin Android Example"
### Describe the change you would like to see
The technical reference only includes a java example for the android setup.

### How would the suggested change make the documentation more useful?
Please provide updated examples that include Kotlin examples for setting up android.

[2021-10-27 11:48] emmett-deen opened #76 "Will not build on iOS"
### Describe the issue
I have battled with build errors on iOS for the last couple hours. I decided to use this pr: https://github.com/square/reader-sdk-flutter-plugin/pull/74 as it seemed to be the most promising since it was at least up to date.

Here were some of the issues I was faced with:
1. Linking error - The recommendation of the Legacy Build System no longer works. When switching to lega

[2021-12-20 17:26] TatsuUkraine opened #78 "Compiled application with target SDK 31 fails to install on android device"
### Describe the issue
During app build with target SDK 31 in the gradle config, app fails to install with message

```com.squareup.queue.QueueService$BootReceiver: Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters are present]```

### To Reproduce
Create new project with Flutter 2.8. By default gradle in the flutter 2.8 uses co

[2022-01-21 17:11] TatsuUkraine opened #79 "delayCapture doesn't work with Android Reader SDK 1.5.5"
### Describe the issue
delayCapture=true in CheckoutParametersBuilder doesn't make Transaction as delayed

### To Reproduce

  1. Initialize the SDK
  1. Let Gradle download the most recent Android Reader SDK version (1.5.5)
  1. try to create delayed transaction

### Expected behavior
The transaction should be in the "Awaiting capture" state

**Environment (please complete the following informati

[2022-01-24 16:55] DmytroMeleshko opened #80 "App crashes on devices with Android 12"
### Describe the issue

Application crashes on startup on Android 12 real devices, while on emulators with the same Android version it works great.

Error log details:
[code]

### Expected behavior

  The application should build successfully

**Environment:**

  - platform: Android
  - OS and version: Android 12
  - dev environment: MacOS
  - Reader SDK version: 1.5.1

  [✓] Flutter (Channel stab

[2022-03-18 23:35] Memet18 opened #81 "Restore internet to accept payment"
### Describe the issue

 We have connected the SDK to our application and sometimes we have a problem where the message "Restore internet to accept payment" appears when the internet connection is bad. And even after the restoration of the Internet, the message no longer disappears and this message appears with all payments. Watch the video for more details.

### To Reproduce
   Video showing how

[2022-04-21 11:53] divyeshgohil85 commented on #69
Any solution for this? We need these both together for following requirement.
-If customer has Square Gift Card number, we need In-App sdk to take partial/full payment from gift-card by Key-In
-Remaining payment using card swipe through reader

[2022-04-22 12:02] nneuberger1 commented on #69
I haven't resolved the issue on my side yet. I may jump back to payments in the next several weeks and attempt to resolve it. If I resolve the issue, I'll resolve it. maybe some of square devs can shed some light on it.

[2022-05-03 18:49] john-tmc commented on #80
Hope this can resolve any similar issues that others might have.
I found that the java library `com.squareup.sdk.reader.ReaderSdk` crashes before permission is actually requested.

[New bluetooth permission for Android 12+](https://developer.android.com/guide/topics/connectivity/bluetooth/permissions)

Long term solution :
Square Dev needs to update the native Reader SDK for the newest bluetooth p

[2022-05-06 08:26] CharmisG commented on #80
Please pull latest update it's fixes.

[2022-05-06 08:28] #78 closed

[2022-05-06 08:29] CharmisG commented on #64
Please pull latest code it's fixed.

[2022-05-06 08:29] #64 closed

[2022-05-12 11:03] TatsuUkraine commented on #78
@CharmisG I tried to use Android SDK 1.5.6 and it crashes on the Android emulator

[2022-06-13 20:52] CurtHubb commented on #80
This issue is still occurring for me with the latest fixes

[2022-06-21 21:15] ben-wood commented on #76
Had the same issues. I re-generated the flutter application using android studio and selected Java and Objective-C as the base languages instead of Java and Swift. Once I did that I was able to follow the instructions and implement the plugin in my app.

So this seems related to the lack of swift support.

Thanks
Ben

[2022-06-22 05:55] CharmisG commented on #79
Sorry For Delay @TatsuUkraine
We had upgraded plugin so you can pull latest code and let me know if you are still facing this issue.

[2022-06-22 05:55] #79 closed

[2022-07-01 15:27] emmett-deen opened #85 "Failing on APK build :square_reader_sdk:verifyReleaseResources"
### Describe the issue

  When running `flutter build apk` the build fails with the below error. The build does not fail when building for iOS or when building an appbundle using `flutter build appbundle`

  Error log details:
[code]

### To Reproduce
  Run `flutter build apk`

[2022-07-06 10:18] tangdu opened #86 "IOS not authorizing"
Compiling example on Android platform can work normally, but IOS compilation will prompt that the application ID is abnormal when authorizing

Message:
2022-07-06 18:15:16.068425+0800 Runner[34822:3094004] flutter: usageError:authorization_invalid_code:The authorization code is invalid. The authorization code may have been requested with a Square Application ID different from the one associated wi

[2022-07-06 14:02] wade-beavers commented on #85
I am having the same issue

[2022-07-12 12:47] TatsuUkraine opened #87 "Compiled application with target SDK 31 fails to install on android device"
Compiled application with target SDK 31 fails to install on android device

[2022-07-12 22:12] TatsuUkraine opened #88 "ReaderSdk.initialize breaks definition of platform brightness (aka light or dark theme)"
### Describe the issue
Starting from Flutter 3, after ReaderSdk.initialize is invoked, App fails into light theme even if Dark theme is enabled in the system, settings

### To Reproduce

  1. Follow the instructions in doc
  2. Ensure that Material Theme has `ThemeMode.system`
  3. Start the app with Dark theme enabled in the system settings

### Expected behavior
App uses Dark theme

**Environmen

[2022-07-13 10:24] CharmisG commented on #88
@TatsuUkraine
Actually It is plugin only we haven't code for dark mode yet.
but we definitely ping you when we implement dark mode.

[2022-07-13 10:28] TatsuUkraine commented on #88
@CharmisG also, the issue not in reader sdk intents, issue that after intialize method is invoked flutter portion starts receiving light theme through the platform channel

[2022-07-13 12:19] alsummers commented on #85
I am having the same issue before and after upgrading to flutter version 3.0.0

[2022-07-13 12:54] CharmisG commented on #87
@TatsuUkraine
We have changed compile version with 32 which is latest in android.
Please try latest code and let know if you are still facing same issue.

[2022-07-13 12:54] #87 closed

[2022-07-13 12:57] CharmisG commented on #76
@ben-wood , @emmett-deen
We had done swift conversion for example folder and now it's working please check and let me know if you are still facing same issue.

[2022-07-13 12:57] #76 closed, assigned to nobody

[2022-07-15 07:14] #85 closed

[2022-07-19 04:18] CharmisG commented on #87
@TatsuUkraine
We couldn’t replicate this issue in example app so can you please give us more information about this issue ?

[2022-07-20 16:23] TatsuUkraine commented on #87
@CharmisG so it seems it's related to the fact that you need explicitly request 2 Bluetooth permission before initialize is invoked. App with the permission exception.

I spent some time to figure a workaround since there is no mention of it at all

[2022-08-02 09:30] TatsuUkraine commented on #80
@CharmisG I can confirm that described issue is still there. Workaround from @john-tmc works, but it's still a workaround

[2022-08-03 06:55] CharmisG commented on #88
@TatsuUkraine
It was a permission issue above android version 12 so need to give Bluetooth and location permission in plugin of the android folder
so feel free to reopen this issue if you are still facing this issue.
Thank you !!

[2022-08-03 07:13] TatsuUkraine commented on #88
@CharmisG I don't have access to reopen the issue! I already tried a variant with requesting Bluetooth permissions before initialize it didn't help.

What specific location permissions should be granted before initialize method is invoked to fix this issue?

[2022-08-03 07:15] CharmisG commented on #88
@TatsuUkraine
Permission to give in android manifest :

<uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.

[2022-08-03 07:27] TatsuUkraine commented on #88
@CharmisG it doesn't solve the issue, it solves problems with crash on app start, but not with Theme

[2022-08-03 08:48] CharmisG commented on #88
@TatsuUkraine

Please check below code and add permission in main android manifest and example -> android -> manifest

![Screenshot 2022-08-03 at 2 15 13 PM](https://user-images.githubusercontent.com/102352276/182565396-134ecbdf-e3b1-44ae-8aa5-217caa75f98a.png)

![Screenshot 2022-08-03 at 2 18 37 PM](https://user-images.githubusercontent.com/102352276/182566081-7ea89747-ce92-411e-8842-ba11c10f910c

[2022-08-03 09:05] TatsuUkraine commented on #88
@CharmisG still doesn't solve the issue

AndroidManifest.xml
[code]

MainActivity.kt
[code]

[2022-08-03 09:11] TatsuUkraine commented on #88
p.s. example project in plugin repo doesn't work with flutter 3

[code]

[2022-08-03 09:13] TatsuUkraine commented on #88
if you building the app with flutter 2, there are NO issue with theme (I pointed out this in the issue description)

[2022-08-04 04:14] CharmisG commented on #88
@TatsuUkraine
Sorry for the trouble but I'm also figuring out an issue from my side now I have kept all required permission for android 12 on flutter 3 so can you please check the latest code and let me know the status?

[2022-08-04 04:15] CharmisG commented on #80
@TatsuUkraine @CurtHubb @john-tmc
Sorry for the trouble but I'm also figuring out an issue from my side now I have kept all required permission for android 12 on flutter 3 so can you please check the latest code and let me know the status?

[2022-08-04 08:21] TatsuUkraine commented on #80
@CharmisG if to follow `getting started` docs with the most recent changes it doesn't solve anything, app still crashes during the start

[2022-08-04 08:49] TatsuUkraine commented on #88
@CharmisG if to follow `getting started` docs with the most recent changes it doesn't solve anything, app still crashes during the start. Also not quite sure if any of the recent changes can solve issue described here

[2022-08-16 06:43] CharmisG commented on #88
@TatsuUkraine
Sorry for the delay but I'm working on it and I'll update you soon.
Thank you !!

[2022-08-16 06:44] CharmisG commented on #87
@TatsuUkraine
Can you please share screenshot of issue ?

[2022-08-16 06:47] CharmisG commented on #80
@TatsuUkraine @CurtHubb @john-tmc
Sorry for the delay but I'm figuring out the issue and update you soon.

[2022-08-16 06:51] TatsuUkraine commented on #87
@CharmisG I think I put wrong description there, app installs, it crashes on launch because of missing permissions. This issue you was trying to solve by adding permissions to manifest file

[2022-08-16 06:54] TatsuUkraine commented on #87
@CharmisG but this PR https://github.com/square/reader-sdk-flutter-plugin/pull/90 doesn't solve anything, because these permissions belongs to a dangerous permissions

[2022-08-17 16:50] TatsuUkraine opened #91 "Plugin doesn't work with most recent Reader SDK for iOS"
App crashes during the build with most up to date iOS SDK framework, with an exception that SquareReaderSDK module not found

[2022-08-22 19:06] nick-happsnow opened #92 "Reader SDK support for M1 Mac computers - iOS Xcode"
I am currently developing a Flutter app and utilizing the square_reader_sdk package. Once I integrate the square_reader_sdk and follow all of the steps to set it up using this link for iOS: [reader-sdk-flutter-plugin/get-started.md at master · square/reader-sdk-flutter-plugin · GitHub](https://github.com/square/reader-sdk-flutter-plugin/blob/master/doc/get-started.md), my project in Xcode generate

[2022-08-25 07:01] CharmisG commented on #88
@TatsuUkraine
Sorry for the delay but we are using the permission_handler plugin and this plugin itself has this permission error that's why it's crashing so we are waiting for this(permission_handler) plugin update and we are continuously touched with this plugin and I'll let you know when we get any response and will update you!

Plugin link: https://pub.dev/packages/permission_handler

Thank yo

[2022-08-25 07:02] CharmisG commented on #80
@TatsuUkraine @CurtHubb @john-tmc
Sorry for the delay but we are using the permission_handler plugin and this plugin itself has this permission error that's why it's crashing so we are waiting for this(permission_handler) plugin update and we are continuously touched with this plugin and I'll let you know when we get any response and will update you!

Plugin link: https://pub.dev/packages/permissi

[2022-08-25 07:04] TatsuUkraine commented on #88
@CharmisG I'm not sure what you mean. App doesn't crashes , theme doesn't work properly (please read ticket description)

[2022-08-25 07:08] TatsuUkraine commented on #88
@CharmisG also, this plugin doesn't use permission handler plugin

[2022-08-25 07:14] TatsuUkraine commented on #80
@CharmisG I'm not sure that the issue is in permission handles plugin, reader sdk plugin doesn't uses it

[2022-08-25 07:14] CharmisG commented on #88
@TatsuUkraine
Can you please share video?
How your app is behaving in flutter 3

[2022-08-25 07:14] TatsuUkraine commented on #80
Do you have a link to an issue that you mentioned?

[2022-08-25 07:16] CharmisG commented on #80
Yes Sure
Please check below link :
https://github.com/Baseflow/flutter-permission-handler/issues/884

[2022-08-25 07:24] TatsuUkraine commented on #80
@CharmisG I still not sure if it has anything to do with permission handler. Please read release notes of android reader sdk https://developer.squareup.com/docs/changelog/mobile-logs/2022-03-30 and then read about these 2 permissions. They are `dangerous`, which means that they should be requested in runtime. And the ReaderSdk.initialize requires to have these permissions granted before you invoke

[2022-08-25 12:08] TatsuUkraine commented on #88
@CharmisG not sure that I'm following what kind of video you need to see? flutter always chooses a light theme even when ThemeMode is `system` and the dark mode is enabled on the Android device

[2022-08-25 12:22] TatsuUkraine commented on #92
had the same issue, it happening because of the wrong iOS config override in the plugin itself

[2022-09-01 04:01] #80 closed

[2022-09-01 04:01] #92 closed

[2022-09-01 04:01] #91 closed

[2022-09-01 07:15] CharmisG commented on #88
@TatsuUkraine
 PR is merged please check in the latest code.
 Thank you foe help !!!

[2022-09-01 07:16] TatsuUkraine commented on #88
@CharmisG it's not how it works! you need to publish the most recent version to pub.dev to make it available for everyone!

[2022-09-01 07:17] TatsuUkraine commented on #88
also, these changes doesn't solve this issue, please repopen the PR!

[2022-09-01 07:18] TatsuUkraine commented on #88
@hukid

[2022-09-01 08:04] CharmisG commented on #86
@tangdu
It seems like you haven't integrated the application ID
please refer to the documentation for the setup app in iOS we have launched a new version please check the latest code.
Thank you !!!

[2022-09-01 08:04] #86 closed

[2022-09-01 17:59] hukid commented on #88
@TatsuUkraine We'll publish the new plugin soon. Thanks a lot, @TatsuUkraine!

[2022-09-01 18:04] TatsuUkraine commented on #88
@hukid I tried all this updates already, and issue described on this ticket is not solved by these changes

[2022-09-01 18:32] hukid commented on #88
@TatsuUkraine, re-opened this issue.

[2022-09-01 18:33] hukid commented on #88
@TatsuUkraine while we are investigating, if you see a fix, feel free to send the PR.

[2022-09-01 18:39] TatsuUkraine commented on #88
@hukid I tried to find a reason, but no luck so far(( I started to think that it may be somewhere deep in Android Reader SDK, where I don't have access(

[2022-09-01 21:54] hukid commented on #88
I actually feel this is a bug in Flutter 3 given the issues doesn't exist in Flutter 2.

[2022-09-01 22:07] TatsuUkraine commented on #88
@hukid could be, but I'm not quite sure since native layer starts sending wrong theme only after ReaderSdk.intialize method is invoked and on androids 12 and 13. On 11 all works fine

[2022-09-01 22:11] TatsuUkraine commented on #88
Also, once initialize method is invoked, each next time app starts from the scratch (from killed state) , even native splash screen thinks that app uses light theme, nevertheless it always relying on system settings. I can assume it happens because reader sdk has own background process

[2022-09-01 22:12] TatsuUkraine commented on #88
But again, I don't have access to sources of the reader sdk to confirm that this happens because of it

[2022-09-02 16:07] hukid commented on #88
I will bring it to Reader SDK Android team and check if there is any solution.

[2022-09-02 16:55] TatsuUkraine commented on #88
Thank you

[2022-09-18 14:13] TatsuUkraine commented on #88
@hukid is there any update regarding this issue? Do you need any additional information or code to help this get fixed?

[2022-09-19 17:46] shauna-kimura commented on #88
Hi @TatsuUkraine! I'm from the Reader SDK Android team. At this time, dark mode is not supported. Following the release of Android 12, SPOS implemented a change to prevent dark mode from being enabled due to flickering issues on Samsung devices that was causing poor user experiences. We’re constantly working to improve our features based on feedback like this, so I’ll be sure to share your request

[2022-09-19 17:53] TatsuUkraine commented on #88
@shauna-kimura thanks for reply. Is there any way to avoid disabling dark theme globally for the app and keep it only for intent/activity that launched when checkout process started?

[2022-09-26 20:49] shauna-kimura commented on #88
Keeping in mind that we don't support it, I found [this link](https://www.digitalocean.com/community/tutorials/android-daynight-theme-night-mode) that may be helpful. Another option could be to try [UiModeManager](https://developer.android.com/reference/android/app/UiModeManager#setApplicationNightMode(int)) to set the theme for your app globally and then temporarily disable dark mode when opening

[2022-09-26 22:42] TatsuUkraine commented on #88
@shauna-kimura thank you for links, I will take a look. But I'm not sure that I'm following, entire app forced to use dark theme after ReaderSdk.intialize method is invoked. Before this method is used - app uses system settings to define the theme mode. How manually switching theme solves the fact that intialize method switches the app to the light theme?

[2022-10-02 14:21] NKoroloff opened #99 "Android 13"
Did u support Android 13?
You have in your documentation:**Android SDK platform: API 31.**

[2022-10-11 20:59] nick-happsnow opened #100 "Android Invoking Method Channel calls results in ClassNotFoundException"
When attempting to invoke method channel calls to either check authorization with method channel call 'isAuthorized' or authorize Square with method channel call 'authorize', the following error occurs below. Since these errors occur, I am unable to authorize Square on Android devices. I do not get this same method channel problem on iOS.

  **Error log details:**
 ` E/MethodChannel#square_reader_

[2022-10-18 06:11] TatsuUkraine commented on #88
@CharmisG why this ticket was closed? I still waiting for the answer on my question, also this issue still exist, noone fixed it yet

[2022-10-18 07:58] nesterscript opened #101 "Android 12 can't connect reader (no Connect a Reader button)"
### Describe the issue
  Hi there.
  My app, example from reader-sdk-flutter-plugin, example from react-native-square-reader-sdk working good on Android 11.
  But all of them on Android 12 on the screen where you connect reader, just don't have a button "Connect a Reader" (see first screenshot).
  I followed all instruction to update to Android 12 provided in instruction, migrated from 3.x to 4.x,

[2022-10-18 08:31] mrseth01 commented on #101
We are experiencing the same issue running on Galaxy Tab S8. Our application was working 2-3 weeks ago, so we assume at this point, it's a change with a recent Samsung security update.  The fact that it's not working on your Xaomi device is curious.

Yesterday, this was posted on the Samsung dev forums for the Android plugin: https://developer.squareup.com/forums/t/android-12-blank-square-reader-s

[2022-10-18 08:33] mrseth01 commented on #101
@nesterscript Thank you for writing your thorough bug report. Our work with the Square Reader SDK over the past year has been not great because we go weeks with a broken build waiting for a fix.

[2022-10-18 09:42] mrseth01 commented on #101
@nesterscript I was able to restore functionality to my app by locking in an older version of the Android Reader SDK:

in build.gradle
[code]

[2022-10-19 15:49] nesterscript commented on #101
@mrseth01
I just did fresh clone of repository to avoid side effects from my previous experiments.
I updated to 1.6.1 in `android/example/build.gradle`
and just in case in `android/build.gradle`.
Also I put my credentials in `android/build.gradle` to:
[code]
And error:
[code]

[2022-10-21 18:22] nesterscript commented on #101
@mrseth01
I can confirm. 1.6.1 works on Android 12.
Thank you so much for your help

[2022-10-28 06:09] CharmisG commented on #81
@Memet18

Sorry for the delay !!
We Released new version please check in latest code and feel free to reopen issue again if you are facing the same.

Thank you !!!

[2022-10-28 06:09] #81 closed

[2022-10-28 08:35] CharmisG commented on #75
@emmett-deen

Sorry for the delay !!
We changed our documentation please check and let us know if you have any query.

Thank You !

[2022-10-28 08:35] #75 closed

[2022-11-04 05:16] CharmisG commented on #78
@TatsuUkraine
Are you still facing same issue ??

[2022-11-04 05:23] CharmisG commented on #100
@nick-happsnow
Are you still facing the same ???

[2022-11-04 07:33] TatsuUkraine commented on #78
Nope, it was fixed with v4 release

[2022-11-22 17:40] hukid commented on #101
Thank you for the help @mrseth01! Closing this issue now.

[2022-11-22 17:40] #101 closed